<!-- registro-admin.component.html -->
<div id="login-container" class="row">
    <div id="login-card" class="col-12">
        <div class="row">
            <h1>Registro de administrador</h1>
        </div>
        <div class="row">
            <form [formGroup]="registroAdminForm" (ngSubmit)="registerAdmin()" class="col-12">
                <div id="form-control" class="row">
                    <div class="col-5">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-6">
                        <input id="email" formControlName="email" type="text" formControlName="email">
                    </div>
                </div>
                <div id="form-control" class="row">
                    <div class="col-5">
                        <label for="password1">Contraseña:</label>
                    </div>
                    <div class="col-6">
                        <input id="password1" formControlName="password1" type="password" formControlName="password1">
                    </div>
                </div>
                <div id="form-control" class="row">
                    <div class="col-5">
                        <label for="password2">Repita contraseña:</label>
                    </div>
                    <div class="col-6">
                        <input id="password2" formControlName="password2" type="password" formControlName="password2">
                    </div>
                </div>
                <div id="form-control" class="row">
                    <div class="col-5">
                        <label for="nombre">Nombre:</label>
                    </div>
                    <div class="col-6">
                        <input id="nombre" formControlName="nombre" type="text" formControlName="nombre">
                    </div>
                </div>
                <div id="form-control" class="row">
                    <div class="col-5">
                        <label for="apellidos">Apellidos:</label>
                    </div>
                    <div class="col-6">
                        <input id="apellidos" formControlName="apellidos" type="text" formControlName="apellidos">
                    </div>
                </div>

                <div class="row" *ngIf="mostrarError==1" id="error">
                    <p>{{ mensajeinfo }}</p>
                    
                </div>
                <div class="row" *ngIf="mostrarConfirmacion==1" id="confirmacion">
                    {{ mensajeinfo }}
                </div>
                <div class="row">
                    <button type="submit" [disabled]="!registroAdminForm.valid">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>