<div class="container">
    <div class="row">
        <div class="col-12" id="rowLogo">
            <img src="../../assets/img/logo1.jpg" id="imgLogo" alt="No image" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>La manera de desplazarte fácilmente por Ciudad Real ha llegado</h1>
        </div>
    </div>
    <div class="row" id="menuAdmin">
        <div class="col-3">
            <button (click)="showVehiculos()">Reserva ya</button>
        </div>
        <div class="col-3">
            <button (click)="showReservas()">Reservas</button>
        </div>
    </div>
    <app-listado-vehiculos-no-disponibles *ngIf="showVehiculosComponent"></app-listado-vehiculos-no-disponibles>
    <app-consultar-reservas-cliente *ngIf="showReservasComponent"></app-consultar-reservas-cliente>
</div>


