<div class="row" id="listado">
    <table>
      <tr>
        <th colspan="10" id="titulo">
          <h1>Parámetros que pueden ser modificados</h1>
        </th>
      </tr>
      <tr>
        <th>Precio por viaje</th>
        <th>Mínimo de batería</th>
        <th>Bateria gastada por viaje</th>
        <th>Máximo de vehículos por mantenimiento</th>
        <th>Acciones</th>
      </tr>
      <tr>
        <td [contentEditable]="true" (blur)="actualizarPrecioViaje($event)">{{ parametros?.precioViaje }}</td>
        <td [contentEditable]="true" (blur)="actualizarMinimoBateria($event)">{{ parametros?.minimoBateria }}</td>
        <td [contentEditable]="true" (blur)="actualizarBateriaViaje($event)">{{ parametros?.bateriaViaje }}</td>
        <td [contentEditable]="true" (blur)="actualizarMaxVehiculosMantenimiento($event)">{{ parametros?.maxVehiculosMantenimiento }}</td>
        <td>
          <button (click)="modificarParametros()">Guardar</button>
        </td>
      </tr>
    </table>
  </div>