<div class="row" id="listado">
  <table>
    <tr>
      <th colspan="10" id="titulo"><h1>Lista de Vehículos</h1></th>
    </tr>
    <tr>
      <th>Matricula</th>
      <th>Modelo</th>
      <th>Bateria</th>
      <th>Estado</th>
      <th>Direccion</th>
      <th>Tipo</th>
      <th>Nº de plazas</th>
      <th>Color</th>
      <th>Casco</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let vehiculo of vehiculos; let i = index">
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarMatricula($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.matricula }}</td>
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarModelo($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.modelo }}</td>
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarBateria($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.bateria }}</td>
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarEstado($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.estado }}</td>
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarDireccion($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.direccion }}</td>
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarTipo($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.tipo }}</td>
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarPlazas($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.nPlaza }}</td>
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarPlazas($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.color }}</td>
      <td [contentEditable]="vehiculo.editable" (blur)="actualizarPlazas($event, i)" [ngClass]="{'editable': vehiculo.editable}">{{ vehiculo.casco }}</td>
      <td>
        <button (click)="eliminarVehiculo(i)">Dar de baja</button>
      </td>
      <!-- <td>
        <button (click)="editarFila(i)">Editar</button>
        <button (click)="eliminarFila(i)">Eliminar</button>
        <button *ngIf="vehiculo.editable" (click)="guardarCambios(i)">Guardar</button>
        <button *ngIf="vehiculo.editable" (click)="cancelarEdicion(i)">Cancelar</button>
      </td> -->
    </tr>
  </table>
</div>