<div class="login-container">
    <div class="login-card">
        <h1>Recuperación de contraseña</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="email">Email</label>
                <input id="email" type="text" formControlName="email">
            </div>
            <div>
                <a routerLink="/">Volver a página principal</a>
            </div>
            <div class="row" *ngIf="mostrarConfirmacion==1" id="confirmacion">
                {{ mensajeinfo }}
            </div>
            <button type="submit" [disabled]="!loginForm.valid">RecoveryPassword</button>
        </form>
    </div>
</div>
