.login-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    min-width: 100%;
    min-height: 1080px;
    box-shadow: 20px 20px 40px;
    background-color: #333;
  }
  
  .login-card {
    display: flex;  
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    height: 20%;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #form-control {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  #error{
    display: flex;
    background-color: #ffd6cc;
    min-height: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
    align-items: flex-end;
    justify-content: center;
  }
  #confirmacion{
    background-color: #c6ecc6;
    min-height: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
    align-items: flex-end;
    justify-content: center;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 92%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    margin-top: 2%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }