/* Estilos para la tabla de lista de clientes */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #322C2C;
  min-height: 720px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #2d2a2a;
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
}

/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 2rem;
  box-shadow: 20px 20px 60px;
}


th {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: #4c6fb6bc;
  color: #251c1cee;
  border: 1px solid #322c2ccd; /* Ancho, estilo y color del borde */
}

td {
  background-color: #e0e0e0;
  color: #322C2C;
  border: 1px solid #322c2ccd;
  padding: 0.5rem;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #c0c0c0;
}

tr:nth-child(odd) {
  background-color: #a0a0a0;
}

/* Estilos para los botones en las celdas */
button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 2px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #322C2C;
  color: #e0e0e0;
  transition: background-color 0.2s;
}
button:disabled {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 2px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #7b7676;
  color: #e0e0e0;
  transition: background-color 0.2s;
}
button:disabled:hover {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 2px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #7b7676;
  color: #e0e0e0;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #e0e0e0;
  color: #322C2C;
}
#listado{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  align-self: center;
  align-items: center;
}
#clientesText{
  display: flex;
  justify-content: center;
  color: #e0e0e0;
}
#titulo{
  background-color: #8da5d4bc;
  padding-top: 4%;
}
.editable {
  background-color: #FFFFE0; /* Cambia el fondo a un color amarillo claro cuando es editable */
  border: 1px solid #FFD700; /* Agrega un borde dorado */
  color: #000; /* Cambia el color del texto para hacerlo más legible */
}
select {
  width: 100%; /* Ajusta el ancho según sea necesario */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}
select[disabled] {
  opacity: 0.5; /* Cambia la opacidad para indicar que está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
}
#confirmacion{
  background-color: #c6ecc6;
  height: 75px;
  width: 400px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  align-self: center;
  align-items: center;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
#error{
  display: flex;
  padding: 5px;
  background-color: #ffd6cc;
  height: 75px;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
}
#tabla{
  display: flex;
  justify-content: center;
}
#div-valorar{
  min-width: 70%;
  align-self: center;
}
#borrarDatosDiv{
  display: flex;
  padding: 5px;
  background-color: #ffd6cc;
  border: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 16px;
  align-self: center;
  align-items: center;
  flex-direction: column;
}