<!DOCTYPE html>
<html>
<head>
  <title>Lista de Clientes</title>
</head>
<body>
  <h1>Lista de Clientes</h1>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo Electrónico</th>
      <th>DNI</th>
      <th>Teléfono</th>
      <th>Fecha de nacimiento</th>
      <th>Carnet</th>
      <th>Activo</th>
    </tr>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.apellidos }}</td>
      <td>{{ usuario.email || 'No disponible' }}</td>
      <td>{{ usuario.dni }}</td>
      <td>{{ usuario.telefono }}</td>
      <td>{{ usuario.fechaNacimiento }}</td>
      <td>{{ usuario.carnet }}</td>
      <td>{{ usuario.activo ? 'Sí' : 'No' }}</td>
    </tr>
  </table>
</body>
</html>
